model_config_list {
  config {
    name: 'resnet'
    base_path: '/models/resnet/'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 50
            versions: 101
          }
        }
    version_labels {
        key: 'stable'
        value: 50
    }
    version_labels {
        key: 'canary'
        value: 101
    }
  }
}